---
layout: compress
---

{% include head.html %}

<main>

    {% include header.html %}

    {{ content }}

    {% if site.tags[page.slug] %}
    <p>
        Tagged as <b>"{{ page.slug }}"</b>.<br>
        <small><a href="{{ site.baseurl }}{{ site.Blog }}">Remove filter</a></small>
    </p>

    {% assign tagged_posts = site.tags[page.slug] %}
    {% include post-list.html posts=tagged_posts %}
    {% else %}
    <p>
        There are no posts in {{ page.slug }}.
    </p>
    {% endif %}

</main>

{% include footer.html %}

</body>

</html>